fastapi==0.122.0
uvicorn[standard]==0.38.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pydantic==2.12.5
python-dotenv==1.0.1
pytest==9.0.1
httpx==0.28.1
qsharp==1.22.0
scipy
scikit-learn
ripser
persim
pandas
numpy